{# on étend le template depuis base.html.twig, qui est donc son parent #}
{% extends "template1.html.twig" %}

{# on veut surcharger le title, on utilise le bloc, on récupère le contenu du parent {{ parent() }} et on rajoute notre texte #}
{% block title %}
    {{ parent() }}
    | Accueil de l'admin
{% endblock %}

{% block menuhaut %}
    {% include "menusession.html.twig" %}
{% endblock %}

{% block milieu %}
    <!-- Page Content -->
    <main class="container" role="main">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Administration du CF2m</h1>
                <p class="lead">Gestion des stagiaires et des sections</p>
            </div>
            <div
                class="col-lg-6 text-left">
                {# Faites apparaître les sections (celles du menu) cliquables dans un nouveau h4, sinon écrivez "Pas encore d'éléments dans le menu" #}
                     {% for item in detaisession %}

                    <h4 class="mt-3">{{ item.lenom}}
                        |
                        <a href="?update={{ item.idlasession }}">modifier</a>
                        |
                        <a href="?delete={{ item.idlasession }}">supprimer</a>
                    </h4>
               {% endfor %}

              
                 
            </div>
        </div>
    </main>

{% endblock %}

{% block bas %}
    {% include "footer.html.twig" %}
{% endblock %}
