{# on étend le template depuis base.html.twig, qui est donc son parent #}

{% extends "template1.html.twig" %}

{# on veut surcharger le title, on utilise le bloc, on récupère le contenu du parent {{ parent() }} et on rajoute notre texte #}
{% block title %}{{ parent() }} | Accueil de l'admin{% endblock %}

{% block menuhaut %}
{% include "hautEtmenu.html.twig" %}
{% endblock %}

{% block milieu %}
    <!-- Page Content -->
<main role="main" class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Administration du CF2m</h1>
                <p class="lead center-block">Affiche utilisateurs</p>
            </div>
            <div class="col-lg-6 text-left">
                <table class="table">

                    <thead class="thead-dark center-block">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prenom</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Nom Session</th>
                        <th scope="col">Date Debut Session</th>
                        <th scope="col">Date Fin Session</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>


                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in section %}
                        <tr>
                            <th scope="row">{{ loop.index }})</th>
                            <td>{{ item.lenom  }}</td>
                            <td>{{ item.leprenom  }}</td>
                            <td>{{ item.lemail  }}</td>
                            <td>{{ item.lerole_Intitule }}</td>
                            <td>{{ item.droit  }}</td>
                            <td>{{ item.nom_session  }}</td>
                            <td>{{ item.debut_session  }}</td>
                            <td>{{ item.fin_session  }}</td>



                            <td><a type="button" href="?add={{ item.idlutilisateur }}" class="btn btn-primary">Ajouter</a><td>
                            <td><a type="button" href="?update={{ item.idlutilisateur }}" class="btn btn-primary">Modifier</a><td>
                            <td><a type="button" href="?delete={{ item.idlutilisateur }}" class="btn btn-primary">Supprimer</a><td>


                        </tr>
                        {% endfor %}

                    </tbody>
                </table>


            </div>
        </div>
</main>

{% endblock %}

{% block bas %}
{% include "footer.html.twig" %}
{% endblock %}