{# on étend le template depuis base.html.twig, qui est donc son parent #}
{% extends "filiere/template1.html.twig" %}

{# on veut surcharger le title, on utilise le bloc, on récupère le contenu du parent {{ parent() }} et on rajoute notre texte #}
{% block title %}{{ parent() }} | Admin | Modifier un stagiaire{% endblock %}

{% block menuhaut %}
{% include "filiere/hautEtMenu.html.twig" %}
{% endblock %}

{% block milieu %}
    <!-- Page Content -->
<main role="main" class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Administration du CF2m</h1>
                <p class="lead">Admin | Modifier un stagiaire</p>
            </div>
            <div class="col-lg-6 text-left">
                {# Affichage du formulaire #}
                <form action="" method="post" name="updateLutilisateur ">
                    <input name="idlutilisateur" type="hidden" value="{{ contenu.idlutilisateur }}">
                    <input name="lenom" type="text" placeholder="Le nom" value="{{ contenu.lenom }}" required><br>
                    <input name="leprenom" type="text" placeholder="Le nom" value="{{ contenu.leprenom }}" required><br>
                    <input name="lenomutilisateur" type="text" placeholder="Le nom" value="{{ contenu.lenomutilisateur }}" required><br>
                    <textarea name="lemail" placeholder="Le prénom" required>{{ contenu.lemail }}</textarea><br>
                    <input type="submit" value="Envoyer">
                </form>
                <h3>{{ error }}</h3>
            </div>
        </div>
</main>

{% endblock %}

{% block bas %}
{% include "filiere/footer.html.twig" %}
{% endblock %}