{# on étend le template depuis base.html.twig, qui est donc son parent #}
{% extends "template1.html.twig" %}

{# on veut surcharger le title, on utilise le bloc, on récupère le contenu du parent {{ parent() }} et on rajoute notre texte #}
{% block title %}{{ parent() }} | Notre accueil{% endblock %}

{% block menuhaut %}
{% include "/public/menuHautPublic.html.twig" %}
{% endblock %}

{% block milieu %}
    <!-- Page Content -->
<main role="main" class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Les classes du CF2m</h1>
                <p class="lead">Les class gérant les classes du CF2m, quelle classe!</p>
            </div>
            <div class="col-lg-6 text-left">
                {# Faites apparaître les sections (celles du menu) cliquables dans un nouveau h4, sinon écrivez "Pas encore d'éléments dans le menu" #}
                {% for item in sections %}
                <h4 class="mt-3">{{ loop.index }}) <a href="?idthesection={{ item.idthesection }}">{{ item.thetitle }}</a></h4>
                    <p>{{ item.thedesc }}</p>
                {% else %}
                <h4 class="mt-3">Pas encore de sections sur notre page accueil</h4>
                {% endfor %}
            </div>
        </div>
</main>

{% endblock %}

{% block bas %}
{% include "footer.html.twig" %}
{% endblock %}